@model AutoFit.Web.ViewModels.Shop.AdminProductViewModel
@{
    ViewData["Title"] = "ShopAdminView";
}

    <div class="container">
        <h1>ADMIN SHOP</h1>

        <div class="container">
            <h1>Angebot hinzufügen: </h1>

            <form method="post">
                <label>Name: </label>
                <input asp-for="Name" />
                <label>Beschreibung: </label>
                <input asp-for="Description" />
                <label>Wert: </label>
                <input asp-for="Value" />
                <input asp-action="AddProduct" type="submit" value="Produkt speichern" />
            </form>
        </div>
        <br />
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Artikel Bezeichnung</th>
                    <th scope="col">Preis</th>
                    <th scope="col">Bearbeitung</th>
                    <th scope="col">Bilder Upload</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    {
                        <tr>
                            <td>
                                <h1>@item.Id</h1>
                            </td>
                            <td>
                                <h1>@item.Name</h1>
                            </td>
                            <td>
                                <h1>€@item.Value</h1>
                            </td>
                            <td>
                                <a type="button" class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@item.Id">Angebot löschen!</a>
                                <a type="button" class="btn btn-primary" asp-action="UpdateProduct" asp-route-id="@item.Id">Angebot bearbeiten!</a>
                            </td>
                            <td>
                                <form asp-controller="Admin" asp-action="UploadShopImages" asp-route-containerName="@($"shopitem{item.Id}")" method="post"
                                      enctype="multipart/form-data">

                                    <input type="file" name="files" multiple />
                                    <button type="submit">Ausgewählte Dateien hochladen!</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div>
            <h1>Bestellungen:</h1>
        </div>

        <div>
            <h1>Stock:</h1>
        </div>
    </div>


