@model AutoFit.Web.ViewModels.Shop.ProductViewModel
@{
    ViewData["Title"] = "Shop";
}
    <div class="d-flex justify-content-center  container top_padding">
        <hr id="GraueTrennlinie" />
            <h1>AutoFit Shop</h1>
            <hr id="GraueTrennlinie" />
    </div>

    <div class="d-flex flex-row shopItemsContainer ">
        @foreach (var item in Model.Products)
        {
        <div class="shopItems">
            <img class="d-block img-fluid setShopImageSize" src="@item.ProductThumbnail.Uri">
            <h1>@item.Name</h1>
          <p><a asp-controller="Shop" asp-action="ProductDetails" asp-route-name="@item.Name"> <span class="red_links"> > </span>Hier geht es zu den Produkt Details..</a></p>  
        </div>
        }
    </div>

        @*  <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Artikel Bezeichnung</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Preis und Bezahlung</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    {
                        <tr>
                            <th scope="row">
                                <img class="d-block img-fluid setShopImageSize" src="@item.ProductThumbnail.Uri">

                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-name="@item.Name">Produkt Details</a>
                            </th>
                            <td>
                                <h1>@item.Name</h1>
                            </td>

                            <td>
                                <p>@item.Description</p>
                            </td>

                            <td>
                                <h1>€@item.Value</h1>
                                <a asp-controller="Shop" asp-action="Kaufabwicklung" asp-route-productName="@item.Name" asp-route-productPrice="@item.Value" class="btn btn-primary" role="button">Sofort kaufen!</a>
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-productname="@item.Name" class="btn btn-primary" role="button">Zum Warenkorb hinzufügen!</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>**@

  
