@model AutoFit.Web.ViewModels.Shop.ProductViewModel
@{
    ViewData["Title"] = "Shop";
}
    <div class="container">
        

        <h1>Shop</h1>
        <p>Hier finden sie unsere aktuellen Angebote!</p>
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Artikel Bezeichnung</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Preis und Bezahlung</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    {
                        <tr>
                            <th scope="row">
                                <img class="d-block img-fluid setShopImageSize" src="@item.ProductThumbnail.Uri">
                            
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-name="@item.Name">Produkt Details</a>
                            </th>
                            <td>
                                <h1>@item.Name</h1>
                            </td>

                            <td>
                                <p>@item.Description</p>
                            </td>

                            <td>
                                <h1>€@item.Value</h1>
                                <a asp-controller="Shop" asp-action="Kaufabwicklung" asp-route-productName="@item.Name" asp-route-productPrice="@item.Value" class="btn btn-primary" role="button">Weiter zur Kaufsabwicklung!</a>
                                <p>hier anstatt weiter zur ka, zum warenkorb hinzufügen button</p>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
