using AutoFit.Web.ViewModels
@model AutoFit.Web.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<h1> Kontaktformular</h1>

<form>
    <div class="form-group">
        <label for="@Model.FirstName">Firstname</label>
        <input type="text" class="form-control" id="@Model.FirstName"  placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="@Model.LastName">Lastname</label>
        <input type="text" class="form-control" id="@Model.LastName" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="@Model.Email">Emailtname</label>
        <input type="email" class="form-control" id="@Model.Email" placeholder="Enter mail">
    </div>
    <div class="form-group">
        <label for="@Model.Subject">Subject</label>
        <input type="text" class="form-control" id="@Model.Subject" placeholder="Thema eingeben">
    </div>
    <div class="form-group">
    <label for="@Model.Message">Message</label>
    <input type="text" class="form-control" id="@Model.Message" placeholder="Nachricht eingeben">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>