@model AutoFit.Web.ViewModels.Files.FilesViewModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <div class="row">
        <h1>Bilder Verwaltung</h1>

    </div>

    <div>
        <h6>Neuen Ordner hinzufügen:</h6>

        <form asp-controller="Admin" asp-action="CreateContainer" asp-route-containerName="containerInput" method="post">
            <label for="containerInput">Ordner Name: </label>
            <input type="text" name="ContainerName" id="containerInput" />
        </form>
        <p>Hinweis: Ordner die den Name "Auto" beinhalten landen in der Fahrzeugbestandsliste und benötigen zwingend Informationen!</p>
        <h1 id="viewbagErrorMessage">@ViewBag.Message</h1>
    </div>

    <div class="row">


        <h2>Ordner</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ordnername</th>
                    <th scope="col">Löschen</th>
                    <th scope="col">Hochladen</th>
                    <th scope="col">Informationen hinzufügen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var container in Model.ContainerDetailsList)
                {
                    <tr>
                        <th scope="row">@container.ContainerName</th>
                        <td>
                            <a type="button" class="btn btn-danger" id="btnDelete" asp-controller="Admin" asp-action="DeleteContainer"
                               asp-route-containerName="@container.ContainerName" onclick="return confirm('Sure?');">@container.ContainerName Löschen!</a>
                        </td>
                        <td>
                            <div class="uploadForm">
                                <form asp-controller="Admin" asp-action="UploadFiles" asp-route-containerName="@container.ContainerName" method="post"
                                      enctype="multipart/form-data">

                                    <input type="file" name="files" multiple />
                                    <button type="submit">Ausgewählte Dateien hochladen!</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="container">
                                <form asp-controller="Admin" asp-action="AddMetaData" asp-route-containerName="@container.ContainerName" asp-route-itemName="itemName" asp-route-preis="preis" method="post">
                                    <div class="form-group">
                                        <label for="itemName">Bezeichnung: </label>
                                        <input class="form-control" type="text" name="itemName" id="itemName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="preis">Preis:(nur Zahl in Euro angeben) </label>
                                        <input class="form-control" type="text" name="preis" id="preis" />
                                    </div>

                                    <button type="submit" class="btn btn-primary">Send</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>Dateien</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dateiname</th>
                    <th scope="col">Löschen/Download</th>
                    <th scope="col">Informationen hinzufügen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var container in Model.ContainerDetailsList)
                {
                    @foreach (var item in container.FileNameList)
                    {
                        <tr>
                            <td>
                                <p>@System.IO.Path.GetFileName(item.Uri.ToString())</p>
                            </td>
                            <td>
                                <a type="button" class="btn btn-danger" asp-controller="Admin" asp-action="DeleteFile" asp-route-containerName="@container.ContainerName" asp-route-fileName="@System.IO.Path.GetFileName(item.Uri.ToString())"
                                   onclick="return confirm('Sure?');"> Datei Löschen </a>
                                <a type="button" class="btn btn-primary" asp-action="Download" asp-route-filename="@System.IO.Path.GetFileName(item.Uri.ToString())" asp-route-containerName="@container.ContainerName">Download</a>
                            </td>
                            @*<td>
                                    <div class="container">
                                        <form asp-controller="Files" asp-action="AddMetaData" asp-route-filename="@System.IO.Path.GetFileName(item.Uri.ToString())" asp-route-containerName="@container.ContainerName" asp-route-itemName="itemName" asp-route-preis="preis" method="post">
                                            <div class="form-group">
                                                <label for="itemName">Bezeichnung: </label>
                                                <input class="form-control" type="text" name="itemName" id="itemName" />
                                            </div>
                                            <div class="form-group">
                                                <label for="preis">Preis: </label>
                                                <input class="form-control" type="text" name="preis" id="preis" />
                                            </div>

                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </form>
                                    </div>
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>



    </div>



</div>


